*,
::after,
::before {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
}

body {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: #052841;
}

body.overflow_hidden {
    overflow: hidden;
}

input,
select,
textarea,
button {
    font: inherit;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

u {
    text-decoration: underline;
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
    color: currentColor;
}

button {
    cursor: pointer;
    transition: 0.2s;
    background-color: transparent;
    border: unset;
}

img {
    max-width: 100%;
    display: block;
}

svg {
    display: block;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}
@media (min-width: 991px)  {
    .hideDesktop {
        display: none !important;
    }
}
@media (max-width: 991px)  {
    .hideMobile {
        display: none !important;
    }
}
.sub_page {
    background-color: #F7F7F7;
}